/* styles.css */
::-webkit-scrollbar {
     width: 6px; /* Set the width of the scrollbar */
     height: 6px; /* Set the height of the scrollbar */
   }
   
   ::-webkit-scrollbar-thumb {
     background-color: #4343439c; /* Color of the scrollbar thumb */
     border-radius: 12px; /* Rounded corners for the thumb */
   }
   
   ::-webkit-scrollbar-track {
     background: transparent; /* Background for the track */
   }
   